@import '../../theme.scss';

.Button {
    height: 48px;
    font-size: 16px;
    width: 220px;
    background-color: $colorBgPrimary;
    color: $colorPrimary;
    border-radius: 30px;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: none;

    &:active {
        transform: scale(0.95);
    }

    &:hover {
        transition: all 0.3s ease-in-out;
        filter: drop-shadow(0 3px 3px $colorTextPrimary);
    }

    &_nav {
        width: 150px;

        &:hover {
            transition: all 0.3s ease-in-out;
            filter: drop-shadow(0 3px 3px $colorBlack);
        }
    }

    &_secondary {
        background: $colorPrimary;
        color: $colorBgPrimary;
    }

    &_outline {
        border: 1px solid $colorPrimary;
    }

    &_heading {
        width: 200px;
    }
}